<div class="p-3 text-center bg-white border-bottom">
  <div class="container">
    <div class="row">
      <!-- Left elements -->
      <div
        class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0"
      >
        <a href="#" class="ms-md-2 pt-1">
          <h4>The Forum</h4>
        </a>
      </div>
      <!-- Left elements -->

      <!-- Center elements -->
      <div class="col-md-4">
        <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
          <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder="Search"
          />
          <span class="input-group-text border-0 d-none d-lg-flex">
            <a href="search.html">
              <i class="bi bi-search"></i>
            </a>
          </span>
        </form>
      </div>
      <!-- Center elements -->

      <!-- Right elements -->
      <div
        class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center"
      >
        <div class="d-flex">
          <!-- Chat -->
          <a class="text-reset me-3" href="#">
            <i class="bi bi-chat-fill px-2"></i>Messages
          </a>

          <!-- Notification -->
          <div class="dropdown">
            <a
              class="text-reset me-3"
              href="#"
              role="button"
              id="notificationDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-bell-fill px-2"></i>Notifications
            </a>
            <ul class="dropdown-menu" aria-labelledby="notificationDropdown">
              <li><a class="dropdown-item" href="#">Notification 1</a></li>
              <li><a class="dropdown-item" href="#">Notification 2</a></li>
            </ul>
          </div>

          <!-- User -->
          <div class="dropdown">
            <a
              class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://i.pravatar.cc/150?img=54"
                class="rounded-circle"
                height="22"
                alt=""
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="/profile">My profile</a></li>
              <li><a class="dropdown-item" href="/settings">Settings</a></li>
              <li><a class="dropdown-item" href="/login">Logout</a></li>
              <li><a class="dropdown-item" href="/about">About</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- Right elements -->
    </div>
  </div>
</div>
