<div class="col-2">
          <div
            class="card"
            id="feed-user-card"
            style="width: 12rem; border-radius: 20px"
          >
            <img
              src="https://i.pravatar.cc/150?img=54"
              alt="Profile Picture"
              class="card-img-top"
            />
            <div class="row">
              <h5>@RobertKilla</h5>
            </div>
            <div class="row">
              <i><p>10 posts&nbsp;</p></i>
            </div>
          </div>

          <div
            class="card mt-3"
            id="feed-user-card"
            style="width: 12rem; border-radius: 20px"
          >
            <div
              class="card"
              style="width: 12rem; border-radius: 20px"
              id="my-tags"
            >
              <h6>About me</h6>
              <div class="row">
                <i
                  ><p>
                    Hi! I'm Robert, a software developer and a dog lover. I'm
                    currently working on a new project and I'm looking for
                    feedback. Feel free to message me!
                  </p></i
                >
              </div>
            </div>
          </div>

          <div
            class="card mt-3"
            id="feed-user-card"
            style="width: 12rem; border-radius: 20px"
          >
            <div
              class="card"
              style="width: 12rem; border-radius: 20px"
              id="my-tags"
            >
              <h6>My Tags</h6>
              <ul>
                <li class="tag-item">#Programming</li>
                <li class="tag-item">#Dogs</li>
                <li class="tag-item">#Cats</li>
              </ul>
            </div>
          </div>
        </div>