<div class="col-2">
          <div
            class="card"
            style="width: 12rem; border-radius: 20px"
            id="my-tags"
          >
            <h6>Friend list</h6>
            <ul>
              <li class="tag-item">@PlantLady</li>
              <li class="tag-item">@GamerSupreme</li>
              <li class="tag-item">@Bookworm87</li>
            </ul>
          </div>
        </div>