{{!-- partials/leftSidebar.hbs --}}

<aside class="left-column">
    <nav>
        <ul>
        {{#if user}}
            <li><a href="/"><span class="material-icons">home</span> Home</a></li>
            <li><a href="/trending"><span class="material-icons">bolt</span> Trending </a></li>
            <li><a href="/my-interests"><span class="material-icons">star</span> My Interests</a></li>
            <li><a href="/saved"><span class="material-icons">bookmark</span> Saved</a></li>
        {{else}}
            <li><a href="/"><span class="material-icons">home</span> Home</a></li>
            <li><a href="/trending"><span class="material-icons">bolt</span> Trending </a></li>
        {{/if}}
        </ul>
    </nav>
</aside>