<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Forum</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="p-3 text-center bg-white border-bottom">
        <div class="container">
          <div class="row">
            <!-- Left elements -->
            <div
              class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0"
            >
              <a href="#" class="ms-md-2 pt-1">
                <h4>The Forum</h4>
              </a>
            </div>
            <!-- Left elements -->

            <!-- Right elements -->
    <div class="col-md-7 d-flex justify-content-center justify-content-md-end align-items-center">
        <div class="d-flex">
            <a class="text-reset d-flex align-items-center" href="/register">
                Sign up
            </a>
        </div>
    </div>    
        </div>
      </div>
  </div>  

  <br> <br> <br>
<div class= "d-flex justify-content-center align-items-center">  
    <header class="log-in">
        <div class="login-info">
            <h1>Log in</h1><br>
            <form action ="/">
                <input type="text" placeholder="username/email" id="logusername" name="logusername">
                <input type="text" placeholder="password" id="logpassword" name="logpassword">
                <input type="submit" value="Log in">
            </form>
        </div>
</div>
</body>
</html>