{{>header_nav}}

<div class="container" id="feed-main">
      <div class="row justify-content-between">
        <!-- Left column -->
        {{>sidebar1}}
        <div class="col-8">
          <!-- Comment -->
          <a href="postPage.html">
            <div class="container-box-feed">
              <div class="content">
                <!-- Profile, Username, Time -->
                <div class="post">
                  <div class="user-avatar">
                    <img
                      src="https://i.pravatar.cc/150?img=54"
                      alt="avatar"
                      class="user-avatar"
                    />
                  </div>
                  <div class="post-content">
                    <p class="username">@RobertKilla</p>
                    <p class="time">1 minute ago</p>
                  </div>
                </div>

                <!-- Post Title -->
                <h1>Help! Need Tips for Starting a Balcony Garden</h1>
                <!-- Post Buttons -->
                <div class="post-actions">
                  <div class="button-container">
                    <div class="button hollow-button">
                      <i class="bi bi-arrow-up"></i>
                      <span class="upvotes">7</span>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button hollow-button">
                      <i class="bi bi-arrow-down"></i>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-chat-dots"></i>
                      <span class="comments">3</span>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-bookmark"></i>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-share"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Image -->
              <div class="image-container">
                <img
                  src="https://www.thespruce.com/thmb/gF9yLFJBtskM1A1elZ20ZI8U-bU=/4285x0/filters:no_upscale():max_bytes(150000):strip_icc()/tips-for-starting-a-balcony-garden-847801-hero-f51f8bf03e1949ea95d429c842b6837c.jpg"
                  alt="Post Image"
                  class="square-image"
                />
              </div>
            </div>
          </a>

          <!-- 2nd Post -->
          <a href="postPage.html">
            <div class="container-box-feed mt-3">
              <div class="content-feed">
                <h1>New Productivity App: Feedback Needed!</h1>

                <div class="comment">
                  <div class="comment-avatar">
                    <img src="https://i.pravatar.cc/150?img=54" alt="" />
                  </div>
                  <div class="comment-body">
                    <div class="comment-username">
                      @RobertKilla
                      <span class="comment-time"> | 2 minutes ago</span>
                    </div>
                    <div class="comment-text">Hello!</div>
                  </div>
                </div>

                <div class="post-actions">
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-chat-dots"></i>
                      <span class="comments">Reply</span>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-bookmark"></i>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="button">
                      <i class="bi bi-share"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <div class="container-box-feed mt-3">
            <div class="content-feed">
              <!-- Profile, Username, Time -->
              <div class="post-feed">
                <div class="user-avatar">
                  <img
                    src="https://i.pravatar.cc/150?img=54"
                    alt="avatar"
                    class="user-avatar"
                  />
                </div>
                <div class="post-content">
                  <p class="username">@RobertKilla</p>
                  <p class="time">Posted 1 hour ago</p>
                </div>
              </div>

              <!-- Edit Button-->
              <span class="post-dropdown">
                <div class="p-dropdown">
                  <button
                    class="post-dropdown-toggle"
                    id="comDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    &#8942;
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="comDropdownMenuLink"
                  >
                    <li><a class="dropdown-item" href="#">Edit</a></li>
                  </ul>
                </div>
              </span>
              <!--Edit Button-->

              <!-- Post Title -->
              <h1>Minecraft break!</h1>
              <!-- Post Image -->
              <img
                src="https://www.minecraft.net/content/dam/archive/4da5ff0255092969c073274e0430e52d-6.png"
                alt="Post Image"
                class="post-image"
              />
              <!-- Post Buttons -->
              <div class="post-actions">
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-up"></i>
                    <span class="upvotes">7</span>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-down"></i>
                  </div>
                </div>
                <div class="button-container">
                  <a href="postPage.html">
                    <div class="button">
                      <i class="bi bi-chat-dots"></i>
                      <span class="comments">3</span>
                    </div>
                  </a>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-bookmark"></i>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-share"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 2nd Post -->
          <div class="container-box-feed mt-3">
            <div class="content-feed">
              <div class="post-feed">
                <div class="user-avatar">
                  <img
                    src="https://i.pravatar.cc/150?img=54"
                    alt="avatar"
                    class="user-avatar"
                  />
                </div>
                <div class="post-content">
                  <p class="username">@RobertKilla</p>
                  <p class="time">Posted 6 hours ago</p>
                </div>
              </div>

              <!-- Edit Button-->
              <span class="post-dropdown">
                <div class="p-dropdown">
                  <button
                    class="post-dropdown-toggle"
                    id="comDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    &#8942;
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="comDropdownMenuLink"
                  >
                    <li><a class="dropdown-item" href="#">Edit</a></li>
                  </ul>
                </div>
              </span>
              <!--Edit Button-->

              <h1>Feeling tired 😔</h1>
              <div class="post-body">Up late working on my CCAPDEV MCO!</div>
              <div class="post-actions">
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-up"></i>
                    <span class="upvotes">10</span>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-down"></i>
                  </div>
                </div>
                <div class="button-container">
                  <a href="postPage.html">
                    <div class="button">
                      <i class="bi bi-chat-dots"></i>
                      <span class="comments">5</span>
                    </div>
                  </a>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-bookmark"></i>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-share"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 3rd Post -->
          <div class="container-box-feed mt-3">
            <div class="content-feed">
              <div class="post-feed">
                <div class="user-avatar">
                  <img
                    src="https://i.pravatar.cc/150?img=54"
                    alt="avatar"
                    class="user-avatar"
                  />
                </div>
                <div class="post-content">
                  <p class="username">@RobertKilla</p>
                  <p class="time">Posted 1 week ago</p>
                </div>
              </div>

              <!-- Edit Button-->
              <span class="post-dropdown">
                <div class="p-dropdown">
                  <button
                    class="post-dropdown-toggle"
                    id="comDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    &#8942;
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="comDropdownMenuLink"
                  >
                    <li><a class="dropdown-item" href="#">Edit</a></li>
                  </ul>
                </div>
              </span>
              <!--Edit Button-->

              <h1>Look at my cat</h1>
              <img
                src="https://cdn.britannica.com/36/234736-050-4AC5B6D5/Scottish-fold-cat.jpg"
                alt="Post Image"
                class="post-image"
              />
              <div class="post-actions">
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-up"></i>
                    <span class="upvotes">11</span>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button hollow-button">
                    <i class="bi bi-arrow-down"></i>
                  </div>
                </div>
                <div class="button-container">
                  <a href="postPage.html">
                    <div class="button">
                      <i class="bi bi-chat-dots"></i>
                      <span class="comments">2</span>
                    </div>
                  </a>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-bookmark"></i>
                  </div>
                </div>
                <div class="button-container">
                  <div class="button">
                    <i class="bi bi-share"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{>sidebar2}}
      </div>
    </div>