{{>header_nav}}

<div class="container" id="feed-main">
  <div class="row justify-content-between">
    <!-- Left column -->
    {{>sidebar_edit}}
    <div class="col-8">
      <div class="form-container-box-feed mb-3">
        <div class="form-content-feed">
          <!-- Back Button -->
          <a href="/" class="form-back-button">
            <i class="bi bi-arrow-left"></i> Back
          </a>

          <!-- Create Post Form -->
          <h1>Edit profile details</h1>

          <!-- Edit profile picture -->
          <div class="profile-pic">
            <label class="-label" for="file">
              <span class="glyphicon glyphicon-camera"></span>
              <span>Change Profile Picture:</span>
            </label>
            <input id="file" type="file" onchange="loadFile(event)" />
          </div>
          <!-- Edit profile picture -->

          <form id="post-form" class="form-post-form" method="post">
            <!-- Title -->
            <label for="edit-username">Edit username:</label>
            <input type="text" id="edit-username" name="username" required />

            <label for="edit-firstname">Edit first name:</label>
            <input type="text" id="edit-firstname" name="firstname" required />

            <label for="edit-lastname">Edit last name:</label>
            <input type="text" id="edit-lastname" name="lastname" required />

            <!-- Body -->
            <label for="edit-about-me">Edit about me:</label>
            <!-- Rich text editor -->
            <div id="editor"></div>
            <input type="hidden" id="post-body" name="edit-about-me" required />

            <!-- Submit Button -->
            <button type="submit" class="form-post-form-button">
              Submit Changes
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Initialize CKEditor
    ClassicEditor.create(document.querySelector("#editor"))
        .then(editor => {
            // Listen to form submission
            document.getElementById('post-form').addEventListener('submit', function() {
                // Transfer content from CKEditor to hidden input field
                document.getElementById('post-body').value = editor.getData();
            });
        })
        .catch(error => {
            console.error(error);
        });
});
</script>
