body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  background-color: #F0F5F8;
  color: #333;
  margin-bottom: 5%;
}

.post-body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: #333;
  margin-bottom: 5%;
  margin-top: 5%;
  line-height: 150%;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

#feed-main {
  margin-top: 2%;
}

.container-box {
  background-color: white;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.container-box-feed {
  background-color: white;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.container-box-top {
  background-color: white;
  padding: 30px;
  padding-right: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}



.post-feed {
  display: flex;
  align-items: center;
}

.content-feed {
  width: 100%;
}

.content {
  width: 70%;
}

.image-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.post {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
}

.post-content {
  display: flex;
  align-items: center;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 30px;
}

.time {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 30px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.post-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.post-actions .button-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.post-actions .button {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-actions .button i {
  margin-right: 5px;
}

.post-actions .button span {
  margin-left: 5px;
}

.upvotes,
.comments {
  margin-right: 10px;
}

.square-image {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 20px;
}

.bi:hover {
  cursor: pointer;
}

a {
  color: black;
}

.card {
  font-weight: 700;
  border: none;
}

.primary-blue {
  color: #304fb6;
}

.primary-dark {
  color: #161b8e;
}

.list-group-item {
  border: none;
}

.list-group-item:hover {
  border-left: solid;
  border-color: #304fb6;
  border-radius: 0 5px 5px 0;
}

h4 {
  font-weight: bold;
}

.post-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 20px;
}

#feed-main .container-box-feed form {
  background-color: white;
  border-radius: 10px;
}

#feed-main .container-box-feed .form-control {
  border-radius: 10px;
  resize: none;
}

#feed-main .container-box-feed .btn {
  border-radius: 10px;
  background-color: #161b8e;
  border: none;
}

#feed-user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feed-user-card > img {
  margin-top: 8%;
  max-width: 50%;
  border-radius: 20%;
}

h5 {
  padding-top: 8%;
}

/*
  .col-2 {
	background: blue;
  } */

.row > i > p {
  padding-top: 8%;
  font-weight: 300;
  color: black;
}

#my-tags {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-tags > h6 {
  margin-top: 8%;
  font-weight: 600;
}

#my-tags > ul {
  padding: 0;
  font-weight: 400;
}

.tag-item {
  margin-top: 15%;
}

a > .container-box-feed {
  color: #333;
}

a > container-box


.comments-section {
  border-top: 1px solid #dee2e6;
  padding-top: 1rem;
  margin-top: 10%;
}
.comment {
  display: flex;
  margin-bottom: 1rem;
  padding-top: 5px;
}
.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f0f0;
}
.comment-avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comment-body {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  flex: 1;
}
.comment-time {
  font-size: 0.6rem;
  color: #6c757d;
  font-weight: 300;
}
.comment-username {
  font-weight: bold;
  font-size: 78%;
  margin-bottom: 0.5rem;
}
.comment-text {
	font-size: 0.875rem;
	color: #6c757d;
	margin-bottom: 0.5rem;
  line-height: 150%;
}

.comment-dropdown {
  float: right;
}

.comment-dropdown button{
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 150%;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;

}

.dropbtn {
  background-color: #F0F5F8;
  color: 6c757d;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid lightslategray; 

}

.dropdown-content a {
  color: 333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-form label {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.post-form textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
}

.post-form-button {
  background-color: #304fb6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.post-form-button:hover {
  background-color: #161b8e;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none; 
  color: black; 
  margin-bottom: 20px;
}

.back-button i {
  font-size: 1.2rem; /
}

.form-container-box-feed {
  background-color: white;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 20px;
  display: flex;
}

.form-content-feed {
  width: 100%;
}

.form-back-button {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none; 
  color: black; 
  margin-bottom: 20px;
}

.form-back-button i {
  font-size: 1.2rem;
}

.form-post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-post-form label {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.form-post-form textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
}

.form-post-form-button {
  background-color: #304fb6;
  border: 1px solid #304fb6;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.form-post-form-button:hover {
  background-color: #161b8e;
}

.ck-editor__editable {
  min-height: 200px;
}

/* Tags */


::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 100%;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .tags{
  margin: 10px 0;
  width: 100%;
}
.tags p{
  font-size: 15px;
}
.tags ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.tags ul  li{
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}
.tags ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}
.tags ul input{
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: gray;
  transition: background 0.3s ease;
}
.details button:hover{
  background: lightgray;
}
